h1 {
    text-align: center;
}
h2{
    text-align: left;
    margin-left: 3pc;
    font-size: 3em;
   
}
p {
    margin-left: 3pc;
    font-size: 1.5em;
    
    
}

section{
    display: flex;
    
    
}
#game{
    
    background-image: url('image.jpg');
    transform: scale(.9);
    margin-left: 0px;
}
input[type="checkbox"]{
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: 1s;
}
input:checked[type="checkbox"]{
    background: #03a9f4;

}
input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 1s;
}

input:checked[type="checkbox"]::before{
    left: 40px;
}
.houe {
    font-size: 4em;
    list-style: none;
    background-color: #03a9f4;
    transform: scale(.5);
    margin-left: 300px;
    margin-bottom: 500px;
    margin-top: 200px;
    border-radius: 90px;
    
    
}
.houe input{
    display: inline-block;
}
div {
    background-image: url('image.jpg');
    width: 800px;
    transform: scale(.8);
    
}   
.houe li{
    margin-top: 15px;
    text-align: center;
    transform: scale(.5);
    
}
.mon {
color: crimson;
font-size: 1em;
}
fieldset {
    transform: scale(.7);
}
.houe h1{
    text-decoration: underline white;
    
}
.gab {
    list-style: none;
    font-size: 3em;
    
}
.gab li{
    display: inline;
}
.gab input{
    text-align: center;
    margin-top: 50px;
}
.gab marquee{
    background-color: #03a9f4;
    
}
.gab em{
    text-decoration: underline white;
}
.up {
    background-color: #03a9f4;
    margin-left: 80px;
    height: 50px;
    width: 400px;
    margin-bottom: 50px;
    border-radius: 50px;
    color: white;
    font-size: 1.5rem;

}
.pose {
    height: 50px;
    width: 700px;
    margin-left: 100px;
}
.point1{
    height: 50px;
    width: 337px;
    margin-left: 100px;
}
.point2 {
    height: 50px;
    width: 337px;
    
}
.houe h1 {
 font-size: 1.4em;   
}